# Compiled output
/dist
/build

# Node modules
/node_modules

# Logs
logs
*.log

# Coverage and Tests
/coverage
/.nyc_output

# dotenv files
.env
.env.local
.env.*.local

# Temporary Files
.temp
.tmp

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Specific Ignored Files
token/
voucher-backend/src/token/vision.json