# Compiled output
/dist

# Node modules
/node_modules

# Logs
logs
*.log

# Coverage
/coverage

# dotenv files
.env
.env.local
.env.*.local

# Temporary Files
.temp
.tmp

# IDE Files
/.idea
.vscode/*
